@{
    ViewBag.SelectedMenu = "home";
}
@section head{
    <script>
        if (!!window.MSStream) {
            document.documentElement.className += ' ie10';
        }
    </script>

}

<!-- marquee -->
@* @Html.Partial("~/Views/Shared/_marquee.cshtml", new ViewDataDictionary { { "headline", "Welcome to INTEGRIS & Me" }, { "copy", "No two people share the same dreams, desires, ambitions - or healthcare needs. That's why INTEGRIS is proud to welcome you to a new era of truly personalized healthcare that's all about you, and only you. For you. For health. For life." }, {"btnLabel", "Watch How"}, {"btnUrl", "#"} }) *@
@Html.Partial("~/Views/Shared/_Marquee.cshtml")

<!-- home content -->
<div class="content-block n-p-b">
    <div class="row">
        <div class="col-sm-16 col-xs-22 col-sm-offset-4 col-xs-offset-1">
            <h1 class="green text-center">For you. For health. For life.</h1>
            <p class="text-center">
                INTEGRIS &amp; Me is a new way to think about the way you manage your health care, and it all starts with an online suite of powerful, customizable tools available to you now.
            </p>
        </div>
    </div>
</div>

<!-- video -->
<div class="content-block n-p">
    <div class="row">
        <div class="col-xs-20 col-xs-offset-2 col-sm-20 col-sm-offset-2 col-md-15 col-md-offset-4 feature-box-center video-parent">
            @{ Html.RenderPartial("~/Views/Shared/_LandingVideoPlayer.cshtml"); }
        </div>
    </div>
</div>

<!-- features -->
@Html.Partial("~/Views/Shared/_Features.cshtml")

<div class="home-experience">
    <!-- experience icons -->
    @Html.Partial("~/Views/Shared/_UserExperienceIcons.cshtml")
</div>

<!-- dr finder -->
@*@Html.Partial("~/Views/Shared/_DrFinder.cshtml")*@

<!-- footer copy -->
@Html.Partial("~/Views/Shared/_FooterCopy.cshtml")